{% extends "template.html" %}
{% block conteudo%}
  <main>
    <div id="cart-main">
      <div class="cart-list">
        {% if cart %}
              {% for item in cart %}
              <div class="product">
                <div class="product-image">
                  <img src={{"../static/" + item.product.img }} alt={{ item.name }}>
                </div>
                <div class="product-details">
                  <a href="{{ url_for('add_to_cart', product_id=item.product.id, tela='cart')}}"><img src="../static/add-item.png" alt="adicionar ao carrinho" class="img-add-item"></a>
                  <a href="{{ url_for('remove_from_cart', item_id=item.product.id) }}"><img src="../static/lixeira.png" alt="lixeira" class="img-lixeira"></a>
                  <h2>{{ item.product.name }}</h2>
                  <p>{{item.product.details}}</p>
                  <div class="product-quantity-price">
                    <p>Quantidade: {{item.quantity}}</p>
                    <h2>R$ {{ "%.2f"|format(item.product.price * item.quantity) }}</h2>
                  </div>
                </div>
              </div>
              {% endfor %}
        {% else %}
            <p>Seu carrinho está vazio.</p>
        {% endif %}
      </div>
      <div id="cart-payment">
        <div id="totalValor">
         <p class="carrinhoTotal">total: {{total}}</p>
         
        </div>
        <div id="pagamento">
          <input type="radio" id="cartao" name="fav_language" value="HTML">
          <label class="txtPag" for="cartao">Cartão de debito/crédito</label><br>
          <input type="radio" id="pix" name="fav_language" value="CSS">
          <label class="txtPag" for="pix">Pix</label><br>
          <input type="radio" id="boleto" name="fav_language" value="CSS">
          <label class="txtPag" for="boleto">Boleto</label><br>
        </div>
        <div id="cep">
          <p class="cepInput">Digite seu cep para caucular o frete</p>
          <input class="cepInput2" type="text" id="cep" placeholder="Digite seu cep">
          <input class="cepbtn"type="button" id="cepbtn" onclick="calccep()" value="calcular">
        </div>
        <div>
          <input class="btnPagar" type="button" id="btnpagar" onclick="pagar()" value="comprar😀">
        </div>
      </div>
    </div>
  </main>
<link rel="stylesheet" href="../static/cart.css" />
{% endblock %}